In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('dog_intelligence.csv')

In [6]:
df.tail(20)

,Breed,Classification,obey,reps_lower,reps_upper
116,Lakeland Terrier,Fair Working/Obedience Intelligence,30%,41,80
117,Old English Sheepdog,Fair Working/Obedience Intelligence,30%,41,80
118,Great Pyrenees,Fair Working/Obedience Intelligence,30%,41,80
119,Scottish Terrier,Fair Working/Obedience Intelligence,30%,41,80
120,Saint Bernard,Fair Working/Obedience Intelligence,30%,41,80
121,Bull Terrier,Fair Working/Obedience Intelligence,30%,41,80
122,Chihuahua,Fair Working/Obedience Intelligence,30%,41,80
123,Lhasa Apso,Fair Working/Obedience Intelligence,30%,41,80
124,Bullmastiff,Fair Working/Obedience Intelligence,30%,41,80
125,Shih Tzu,Lowest Degree of Working/Obedience Intelligence,NaN,81,100
126,Basset Hound,Lowest Degree of Working/Obedience Intelligence,NaN,81,100
127,Mastiff,Lowest Degree of Working/Obedience Intelligence,NaN,81,100
128,Beagle,Lowest Degree of Working/Obedience Intelligence,NaN,81,100
129,Pekingese,Lowest Degree of Working/Obedience Intelligence,NaN,81,100
130,Bloodhound,Lowest Degree of Working/Obedience Intelligence,NaN,81,100
131,Borzoi,Lowest Degree of Working/Obedience Intelligence,NaN,81,100
132,Chow Chow,Lowest Degree of Working/Obedience Intelligence,NaN,81,100
133,Bulldog,Lowest Degree of Working/Obedience Intelligence,NaN,81,100
134,Basenji,Lowest Degree of Working/Obedience Intelligence,NaN,81,100
135,Afghan Hound,Lowest Degree of Working/Obedience Intelligence,NaN,81,100

In [ ]:
df_startswith(x , y):
    
    for i in x:
        if i.startswith(y)

In [14]:
df.iloc['Breed']

TypeError: Cannot index by location index with a non-integer key

In [9]:
df_startswith

['Poodle',
 'Papillon',
 'Pembroke Welsh Corgi',
 'Pomeranian',
 'Puli',
 'Portuguese Water Dog',
 'Pharaoh Hound',
 'Pointer',
 'Pug',
 'Petit Basset Griffon VendÌ©en',
 'Pekingese']

In [8]:
df['Breed']

0          Border Collie
1                 Poodle
2        German Shepherd
3       Golden Retriever
4      Doberman Pinscher
             ...
131               Borzoi
132            Chow Chow
133              Bulldog
134              Basenji
135         Afghan Hound
Name: Breed, Length: 136, dtype: object